#all {
  border: 5px solid orange;
  width: 949px;
  height:84px;
  background-image: url("head.jpg");
  background-size: cover;
}
body{
  background-image:url('bg.jpg');
  background-size:959px 2000px;
  margin:0px;
}
#container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width:949px;
  height:1600px;
}
#hh{
  font-family:'Verdana';
  color:#27739d;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}
#chip{
  border:5px solid #9e772b;
  width:949px;
  height:403px;
  background-image:url('mikrochip.jpg');
  background-size:949px 403px;
}
#ch{
  position:relative;
  top: 125px;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ftext{
  width: 949px;
}
#ht{
  color:#cd8bff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#alr{
  font-family:'Verdana';
}
#ph{
  border:5px solid #fb95ff;
  width: 949px;
  height: 450px;
  background-image: url('ton900m.jpg');
  background-size:cover;
}
#intro{

}
#tgbots{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#811c0a ;
}
